@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* ===== color ===== */
    --body-color: #EBF1F1;
    --sidebar-color: #fff;
    --primary-color: #426D6D;
    --primary-color-light: #d9f4f47f;
    --toggle-color: #ddd;
    --text-color: #487676;;

    /* ===== Transition ===== */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body{
    height: 100vh;
    background: var(--body-color);
    transition: var(--tran-05);
}



/* ======= sidebar ======= */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close{
    width: 95px;
}

/* ======= Resuable CSS ======= */
.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text{
    opacity: 0;
}


.sidebar .image{
    min-width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;

}

.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}

.sidebar li .icon, 
.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar header {
    position: relative;

}

.sidebar .image-text img{
    width: 75px;   
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
    gap: 10px;
}

header .image-text .header-text{
    display: flex;
    flex-direction: column;
}

.header-text .name {
    font-weight: 600;
}

.header-text .profession {
    margin-top: -4px;
    font-weight: 600;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 20px;
}

.sidebar .menu{
    margin-top: 35px;
}

.sidebar .search-box{
    background: var(--primary-color-light);
    border-radius: 6px;
    transition: var(--tran-05);
}

.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    background: var(--primary-color-light);
    transition: var(--tran-05);
}

.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}

.sidebar li a:hover .text,
.sidebar li a:hover .icon{
    color: var(--sidebar-color);
}

.sidebar .menu-bar{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar .botton-content{
    margin-bottom: 10px;
}

.home{
    position: relative;
    height: 100vh;
    left: 250px;
    width: calc(100% - 250px);
    background: var(--body-color);
    transition: var(--tran-05);
}

.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 8px 40px;
}

.sidebar.sidebar.close ~ .home{
    left: 88px;
    width: calc(100% - 88px);
}

.button-content a{
    pointer-events: auto !important;
    z-index: 1000 !important;
}


/* CSS untuk NAVBAR */
.top-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 100vw;
    height: 70px;
}

.left-section .app-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #00809D;
}

.right-section {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.notification-icon {
    font-size: 1.4rem;
    color: #555;
}

.profile-foto {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.profile-name {
    font-size: 20px;
    color: #333;
    line-height: 1;
}

